<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Vue Project</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="vue-app">
    <h2>Name: {{name}}</h2>
    <h2>Job: {{job}}</h2>
</div>

<script src="app.js"></script>
</body>
</html>