*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}


html{
    height: 100%;
    width: 100%;
}


body{
    height: 100%;
    width: 100%;
}


